.item-cart {
  width: 300px;
  cursor: pointer;
  border: 1px solid black;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-picture {
  height: 200px;
}

.product-rating {
  display: flex;
  color: rgb(221, 221, 3);
}

.product-details h2 {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-details p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.addtocart-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.add-icon {
  font-size: 1.9rem;
  cursor: pointer;
  padding: 0.5rem;
  box-shadow: rgb(172, 183, 192) 0px 8px 15px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
