/* .about-image img {
  width: 100%;
  height: 500px;
} */

.about-introduction {
  height: 1000px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-introduction h1 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.about-introduction hr {
  height: 0.1rem;
  background-color: #ed7a5d;
  width: 20rem;
}

.about-text p {
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 650;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: start;
}

@media (max-width: 640px) {
  .about-introduction {
    width: 360px;
    padding: 0.4rem 0.4rem;
    height: 550px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about-introduction h1 {
    font-size: 1.2rem;
  }

  .about-text p {
    /* line-height: 2; */
    font-size: 0.8rem;
    /* text-align: center; */
    /* font-weight: 650; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: start; */
  }

  .paragraph-2 {
    display: none;
  }
}
