.footer-main {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #000;
}

.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
}

.footer-details {
  color: #fff;
}

.footer-details h3 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.follow-us {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.follow-us span {
  font-size: 1rem;
}

.footer-details p {
  text-align: start;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.socail-media {
  display: flex;
  gap: 0.5rem;
}

.socail-media a {
  font-size: 2rem;
  color: #fff;
}

.bottom-section {
  display: flex;
  gap: 2rem;
}

.footer-details li {
  list-style: none;
  color: #fff;
  margin: 0.5rem;
}

.footer-details li a {
  text-decoration: none;
  color: #fff;
}

.footer-main hr {
  width: 90%;
  font-weight: 900;
}

.copy-right {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.2rem;
}

.copy-right strong {
  color: #ed7a5d;
}

/* Your styles for phones */
@media (min-width: 450px) and (max-width: 576px) {
  .footer-main {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #000;
    height: 100%;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .bottom-section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-details {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-details h3 {
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .follow-us {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-us span {
    font-size: 2rem;
  }

  .footer-details p {
    /* width: 100%; */
    text-align: start;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .socail-media {
    display: flex;
    gap: 0.5rem;
  }

  .socail-media a {
    font-size: 2.5rem;
    color: #fff;
  }

  .footer-details li {
    list-style: none;
    color: #fff;
    text-align: start;
  }

  .footer-details li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-main hr {
    width: 90%;
    font-weight: 900;
  }

  .copy-right {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
  }

  .copy-right strong {
    color: #ed7a5d;
  }
}

/* Your styles for small devices */
@media (min-width: 576px) and (max-width: 768px) {
  .footer-main {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #000;
    height: 100%;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .bottom-section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-details {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-details h3 {
    font-size: 2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .follow-us {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-us span {
    font-size: 2rem;
  }

  .footer-details p {
    /* width: 100%; */
    text-align: start;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .socail-media {
    display: flex;
    gap: 0.5rem;
  }

  .socail-media a {
    font-size: 2.5rem;
    color: #fff;
  }

  .footer-details li {
    list-style: none;
    color: #fff;
    text-align: start;
  }

  .footer-details li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-main hr {
    width: 90%;
    font-weight: 900;
  }

  .copy-right {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
  }

  .copy-right strong {
    color: #ed7a5d;
  }
}

/* Your styles for tablets */
@media (min-width: 768px) and (max-width: 992px) {
  .footer-main {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #000;
    height: 100%;
  }

  .footer-section {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .bottom-section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-details {
    color: #fff;
  }

  .footer-details h3 {
    text-align: center;
    font-size: 1.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .follow-us {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-us span {
    font-size: 2rem;
  }

  .footer-details p {
    /* width: 100%; */
    text-align: start;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .socail-media {
    display: flex;
    gap: 0.5rem;
  }

  .socail-media a {
    font-size: 2.5rem;
    color: #fff;
  }

  .footer-details li {
    list-style: none;
    color: #fff;
    text-align: start;
  }

  .footer-details li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-main hr {
    width: 90%;
    font-weight: 900;
  }

  .copy-right {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
  }

  .copy-right strong {
    color: #ed7a5d;
  }
}

/* Your styles for desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  .footer-main {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #000;
    height: 100%;
  }

  .footer-section {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .bottom-section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-details {
    color: #fff;
    width: 50%;
  }

  .footer-details h3 {
    text-align: start;
    font-size: 1.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .footer-details p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }


  .follow-us {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-us span {
    font-size: 2rem;
  }

  .socail-media {
    display: flex;
    gap: 0.5rem;
  }

  .socail-media a {
    font-size: 2.5rem;
    color: #fff;
  }

  .footer-details li {
    list-style: none;
    color: #fff;
    text-align: start;
  }

  .footer-details li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-main hr {
    width: 90%;
    font-weight: 900;
  }

  .copy-right {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
  }

  .copy-right strong {
    color: #ed7a5d;
  }
}

/* Your styles for large desktops */
@media (min-width: 1200px) {
  .footer-main {
    margin-top: 3rem;
    padding: 1rem;
    background-color: #000;
    height: 100%;
  }

  .footer-section {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .bottom-section {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-details {
    color: #fff;
    width: 50%;
  }

  .footer-details h3 {
    text-align: start;
    font-size: 1.8rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .footer-details p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }


  .follow-us {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .follow-us span {
    font-size: 2rem;
  }

  .socail-media {
    display: flex;
    gap: 0.5rem;
  }

  .socail-media a {
    font-size: 3rem;
    color: #fff;
  }

  .footer-details li {
    list-style: none;
    color: #fff;
    text-align: start;
  }

  .footer-details li a {
    text-decoration: none;
    color: #fff;
  }

  .footer-main hr {
    width: 90%;
    font-weight: 900;
  }

  .copy-right {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2rem;
  }

  .copy-right strong {
    color: #ed7a5d;
  }
}
