.footer-main {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #000;
  height: 270px;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.footer-details {
  color: #fff;
}

.footer-details h3 {
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.follow-us {
  margin-top: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .follow-us span {
  font-size: 1rem;
 }

.footer-details p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.socail-media {
  display: flex;
  gap: 0.5rem;
}

.socail-media a {
  font-size: 1.7rem;
  color: #fff;
}

.footer-details li {
  list-style: none;
  color: #fff;
  margin: 0.5rem;
}

.footer-details li a {
  text-decoration: none;
  color: #fff;
}

.footer-main hr {
  width: 90%;
  font-weight: 900;
}

.copy-right {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.copy-right strong {
  color: #f77e90;
}
