nav {
  width: 100%;
}

/* ======== active navbar ======== */

.activeNavbar {
  color: black;
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0rem 4rem;
  background-color: #ed7a5d;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0rem;
}

.logo {
  height: 100%;
  display: flex;
}

.logo img {
  height: 70px;
  text-align: center;
  width: 80px;
}

ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

li {
  font-size: var(--font-size-small);
  /* color: var(--color-secondary); */
  font-weight: 600;
  list-style: none;
  letter-spacing: 0.1rem;
}

.icons {
  width: 100px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9rem;
  cursor: pointer;
}

.cart-count {
  display: flex;
  align-items: center;
  text-align: center;
}
.cart-count p {
  font-size: var(--font-size-small);
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.menu-icons {
  display: none;
}

/* ------- Media Query--------- */

/* Large desktop styles */
@media (min-width: 1200px) {
  nav {
    width: 100%;
    padding: 0rem 0.2rem;
  }
  .container {
    padding: 0;
  }

  li {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    letter-spacing: 0.1rem;
  }

  .icons {
    width: 120px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  .cart-count span {
    font-size: 1rem;
    color: #fff;
  }
}

/* Laptop and desktop styles */
@media (min-width: 999px) and (max-width: 1199px) {
  nav {
    width: 100%;
    padding: 0rem 0.2rem;
  }
  .container {
    padding: 0;
  }

  li {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    letter-spacing: 0.1rem;
  }

  .icons {
    width: 120px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }

  .cart-count span {
    font-size: 1rem;
    color: #fff;
  }
}

/* Tablet landscape and small laptop styles */
@media (min-width: 768px) and (max-width: 999px) {
  nav {
    padding: 0rem 0.2rem;
  }
  .container {
    padding: 0;
  }
  /* Base styles for ul (side navigation menu) */
  ul {
    position: fixed;
    top: 13%;
    left: -100%; /* Hide nav initially (off-screen) */
    height: 150px;
    width: 100%;
    background-color: #ed7a5d; /* You can choose any background color */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
    transition: left 0.3s ease;
    z-index: 999;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Show ul when active */
  ul.active {
    left: 0;
  }

  /* li elements styling */
  li {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    color: #fff;
    line-height: 1;
    font-size: 1.5rem;
    list-style-type: none; /* Remove bullet points */
  }

  /* Optional: Adding hover effect to li elements */
  li:hover {
    background-color: #333; /* Darken on hover */
  }

  .icons {
    width: 150px;
    margin-right: 3.5rem;
    font-size: 2.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.9rem;
    text-align: center;
    cursor: pointer;
  }

  .menu-icons {
    display: block;
    right: 3%;
    top: 0.4%;
    font-size: 3rem;
    position: absolute;
    height: 3rem;
  }
}

/* Tablet portrait styles */
@media (min-width: 576px) and (max-width: 767px) {
  nav {
    padding: 0rem 0.2rem;
  }
  .container {
    padding: 0;
  }
  /* Base styles for ul (side navigation menu) */
  ul {
    position: fixed;
    top: 14%;
    left: -100%; /* Hide nav initially (off-screen) */
    height: 150px;
    width: 100%;
    background-color: #ed7a5d; /* You can choose any background color */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
    transition: left 0.3s ease;
    z-index: 999;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Show ul when active */
  ul.active {
    left: 0;
  }

  /* li elements styling */
  li {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    color: #fff;
    line-height: 1;
    font-size: 1.5rem;
    list-style-type: none; /* Remove bullet points */
  }

  /* Optional: Adding hover effect to li elements */
  li:hover {
    background-color: #333; /* Darken on hover */
  }

  .icons {
    width: 150px;
    margin-right: 3.5rem;
    font-size: 2.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.9rem;
    text-align: center;
    cursor: pointer;
  }

  .menu-icons {
    display: block;
    position: absolute;
    right: 3%;
    top: 0.4%;
    font-size: 3rem;
    height: 3rem;
  }
}

/* Mobile styles */
@media (min-width: 300px) and (max-width: 580px) {
  nav {
    padding: 0rem 0.2rem;
  }
  .container {
    padding: 0;
  }
  /* Base styles for ul (side navigation menu) */
  ul {
    position: fixed;
    top: 10%;
    left: -100%; /* Hide nav initially (off-screen) */
    height: 150px;
    width: 100%;
    background-color: #ed7a5d; /* You can choose any background color */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
    transition: left 0.3s ease;
    z-index: 999;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* Show ul when active */
  ul.active {
    left: 0;
  }

  /* li elements styling */
  li {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    color: #fff;
    line-height: 1;
    font-size: var(--font-size-small);
    list-style-type: none; /* Remove bullet points */
  }

  /* Optional: Adding hover effect to li elements */
  li:hover {
    background-color: #333; /* Darken on hover */
  }

  .icons {
    width: 250px;
    margin-right: 3.5rem;
    font-size: 2.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.9rem;
    text-align: center;
    cursor: pointer;
  }

  .menu-icons {
    display: block;
    position: absolute;
    right: 3%;
    top: 0.3%;
    font-size: 3rem;
    height: 3rem;
  }
}
