.main-cart {
  height: 1800px;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title h1 {
  font-size: 2.5rem;
}

h1 hr {
  border: none;
  height: 1px;
  background-color: #ed7a5d;
}

.sale-category {
  display: flex;
  gap: 2rem;
  height: 60px;
  align-items: center;
}

.sale-category p {
  font-weight: 500;
  cursor: pointer;
  color: #686d76;
  margin-top: 1rem;
  &:hover {
    color: #000;
    border-bottom: 1px solid #000;
  }
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.filter-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  /* width: 100%; */
  /* padding: 0 rem 0.5rem; */
  /* width: 80%; */
}

.input-cart-section input {
  /* width: 100%; */
  width: 300px;
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.3rem 0.9rem;
  color: #000;
  outline: none;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
  &:focus {
    border: 1px solid #ed7a5d;
  }
  &::placeholder {
    font-weight: 600;
  }
  &:hover {
    border: 1px solid #007bff;
  }
}

.select-section {
  display: flex;
  text-align: center;
  z-index: 2;
}

.select-section select {
  padding: 0rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  &::after {
    content: "▼"; 
    font-size: 0.75rem;
    color: #333;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:hover {
    border: 1px solid #007bff;
  }
}

.marketing-box {
  background-color: #f4d6e2;
  margin-top: 5rem;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marketing-text h1 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.marketing-text p {
  color: #61677a;
}
.marketing-logo {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.playStore-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: #000;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.playStore-logo img {
  width: 30px;
}

.apple-logo {
  font-size: 2rem;
  color: #fff;
}

.title {
  display: flex;
  flex-direction: column;
}

.title .get-text {
  font-size: 0.7rem;
  color: #fff;
}

.title .playStore {
  font-size: 1rem;
  color: #ffffff;
}

.marketing-shopping-image img {
  width: 400px;
  height: auto;
}

/* ========= Media For Moblile  ============ */

@media (max-width: 640px) {
  .main-cart {
    width: 360px;
    padding: 0rem 0.4rem;
    margin-top: 4rem;
    height: 2550px;
  }

  .cart-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 0.7rem;
    margin-top: 4rem;
  }

  .cart-title h1 {
    font-size: 1.5rem;
  }

  .filter-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* padding: 0 rem 0.5rem; */
    /* width: 80%; */
  }

  .input-cart-section input {
    width: 100%;
    border: 1px solid black;
    padding: 0.3rem 0.9rem;
    color: #000;
    outline: none;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    &:focus {
      border: 2px solid #ed7a5d;
    }
    &::placeholder {
      font-weight: 600;
    }
  }

  .select-section {
    display: flex;
    text-align: center;
    z-index: 2;
  }

  .select-section select {
    padding: 0rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
      outline: none;
    }
    &::after {
      content: "▼"; /* Unicode character for down arrow */
      font-size: 0.75rem;
      color: #333;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &:hover {
      border: 1px solid #007bff;
    }
  }
  /* ====== Marketing Poster ======= */

  .marketing-box {
    background-color: #f4d6e2;
    margin-top: 5rem;
    width: 100%;
    /* width: 900px; */
    display: flex;
    padding: 0.3rem 0.6rem;
  }

  .marketing-text h1 {
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .marketing-text p {
    color: #61677a;
    font-size: 0.4rem;
  }
  .marketing-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .playStore-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    background-color: #000;
    cursor: pointer;
  }

  .playStore-logo img {
    width: 20px;
  }

  .apple-logo {
    font-size: 1rem;
    color: #fff;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .title .get-text {
    font-size: 0.2rem;
    color: #fff;
  }

  .title .playStore {
    font-size: 0.5rem;
    color: #ffffff;
  }

  .marketing-shopping-image img {
    width: 200px;
    height: auto;
  }
}
