* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.3rem;
  --font-size-xlarge: 1.7rem;
  --color-secondary: #fff;

}

html {
  font-size: 75.5%;
  font-family: 'Poppins' , sans-serif;
}
